<footer class= "site-footer">
    <div class="page-container">
        <div class = "reachout-contain">
            <h2>Slide in my DM Here
                <span class="material-symbols-outlined">arrow_downward</span>
            </h2>
            <ul class="social-links-contain" aria-label="Social Media">
                <li><a href="mailto:kevin.junyan01@gmail.com" target="_blank" rel="noopener noreferrer" class = "social-btn">
                        <h4>Email</h4>
                    </a></li>
                <li><a href="https://www.linkedin.com/in/junyanli01/" target="_blank" rel="noopener noreferrer" class = "social-btn">
                        <h4>Linkedln</h4>
                    </a></li>
                <li><a href="https://www.instagram.com/kevinly_kevinli/" target="_blank" rel="noopener noreferrer" class = "social-btn">
                        <h4>Instagram</h4>
                    </a></li>
            </ul>
        </div>
        <hr class="divider-line solid">
        </hr>
        <div class = "copyright-and-attributes">
            <p>&copy; <span id="current-year">2026</span> Junyan Li | Designed & Coded with passion and a healthy(probably?) amount of tea.</p>
        </div>
    </div>
</footer>

<!-- GSAP Import -->
<script src="{{ '/assets/js/gsap.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/ScrollTrigger.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/main.js' | relative_url }}"></script>

<!-- Typed.js Integration -->
<script src="https://unpkg.com/typed.js@3.0.0/dist/typed.umd.js"></script>