<footer class= "site-footer">
        <div class = "reachout-contain">
            <h2>Slide in my DM Here
                <span class="material-symbols-outlined" id = "arrow_downward">arrow_downward</span>
                <span class="material-symbols-outlined" id = "arrow_forward">arrow_forward</span>
            </h2>
            <ul class="social-links-contain" aria-label="Social Media">
                <li>
                    <a href="mailto:kevin.junyan01@gmail.com" target="_blank" rel="noopener noreferrer" class="social-btn">Email</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/junyanli01/" target="_blank" rel="noopener noreferrer" class="social-btn">Linkedln</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/kevinly_kevinli/" target="_blank" rel="noopener noreferrer" class="social-btn">Instagram</a>
                </li>
            </ul>
        </div>
        <hr class="divider-line">
        </hr>
        <div class = "copyright-and-attributes">
            <p>&copy; <span id="current-year">2026</span> Junyan Li | Designed & Coded with passion and a healthy(probably?) amount of tea.</p>
        </div>
</footer>

<!-- GSAP -->
<script src="{{ '/assets/js/gsap.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/ScrollTrigger.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/ScrollSmoother.min.js' | relative_url }}"></script>

<!-- Typed.js -->
<script src="{{ '/assets/js/typed.umd.js' | relative_url }}"></script>

<!-- Custom scripts -->
<script src="{{ '/assets/js/main.js' | relative_url }}"></script>