<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Style Import -->
<!-- Preload -->
<link rel="preload" href="{{ '/assets/fonts/Mulish-VariableFont_wght.ttf' | relative_url }}" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="{{ '/assets/fonts/material-symbols.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>

<!-- Normal Load -->
<!-- Dynamic favions -->
<link rel="icon" href="{{ '/assets/images/favicon-dark.svg' | relative_url }}" media="(prefers-color-scheme: light)" type="image/svg+xml">
<link rel="icon" href="{{ '/assets/images/favicon-light.svg' | relative_url }}" media="(prefers-color-scheme: dark)" type="image/svg+xml">

<!-- Favicon Fallback -->
 <link rel="icon" href="{{ '/assets/images/favicon.ico' | relative_url }}" sizes="any">

<!-- Stylesheets and whatnot -->
<link rel="stylesheet" href="{{ '/assets/css/html5reset.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/material-symbols.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

<!-- Page Title -->
<title>{{ page.title | default: site.title }}</title>