<header class="global-header">
    <div class = "page-container">
        <div class="logo">
            <a href="../index.html" class = "homepage-link">
            <img src="assets/images/logo-wht.svg">
            <img src="assets/images/logo-blk.svg">
            </a>
        </div>
        <nav class="nav-container">
            <div class = "style-switch"></div>
            <label for = "styles"></label>
            <select id = "styles">
                <option value = "solaris"><h4>Solaris</h4></option>
                <option value = "brutalism"><h4>New Brutalism</h4></option>
            </select>
            <a href="https://www.junyandesign.com/about" class = "nav-btn"><h3>About</h3></a>
            <a href="https://drive.google.com/file/d/15Zz7aYeALv6J9eZPsAL-Vu1CBBvx-wUI/view" class = "nav-btn"><h3>Resume</h3></a>
        </nav>
    </div>
</header>