<header class="site-header">
    <div class="logo">
        <a href="{{ '/' | relative_url }}" class = "homepage-link">
        <img class="logo-wht" src="{{ '/assets/images/logo-wht.svg' | relative_url }}" alt = "porfolio site logo, constructed out of junyan's initials">
        <img class="logo-blk" src="{{ '/assets/images/logo-blk.svg' | relative_url }}" alt = "An inverted version of the porfolio site logo, constructed out of junyan's initials">
        </a>
    </div>
    <nav class="nav-container nav-container-responsive">
        <button type="button" class = "hamburger-menu" aria-label="Toggle navigation" aria-expanded="false" aria-controls="nav-items-panel">
            <span class="material-symbols-outlined">menu</span>
        </button>
        <div class = "nav-items" id="nav-items-panel">
            <div class = "style-switch">
                <label for = "styles"></label>
                <select id = "styles">
                    <option value = "solaris">Theme: Solaris</option>
                    <option value = "neobrutalism">Theme: Neobrutalism</option>
                </select>
            </div>
            {% if page.url contains 'about' %}
                <a href="{{ '/index.html' | relative_url }}" class="nav-btn">Works</a>
            {% else %}
                <a href="{{ '/pages/about.html' | relative_url }}" class="nav-btn">About</a>
            {% endif %}
            <a href="https://drive.google.com/file/d/15Zz7aYeALv6J9eZPsAL-Vu1CBBvx-wUI/view" class = "nav-btn">Resume</a>
        </div>
    </nav>
</header>