<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Style Import -->
<!-- Preload -->
<link rel="preload" href="{{ '/assets/fonts/Mulish-VariableFont_wght.ttf' | relative_url }}" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="{{ '/assets/fonts/material-symbols.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
<!-- Normal Load -->
<link rel="icon" type="image/svg+xml" href="{{ '/assets/images/Favicon-wht.svg' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/html5reset.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/material-symbols.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

<!-- Page Title -->
<title>{{ page.title | default: site.title }}</title>