@use "variables";

header {
    position: fixed;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    inset: 0 0 auto 0;
    z-index: 999;

    padding: var(--space-6) var(--space-16);
    backdrop-filter: blur(6px);

    .logo {
        height: max-content;

        .logo-wht {
            display: block;
            width: auto;
            height: 2rem;

        }
        .logo-blk {
            display: none;
            width: auto;
            height: 2rem;
        }
    }

    .nav-container {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        gap: var(--space-stack-md);
        justify-content: right;
        align-items: center;

        .style-switch {
            position: relative;
            display: block;

            select {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;

                font-size: var(--text-size-body);
                line-height: var(--text-line-height-heading);
                color: var(--text-color-default);
                text-transform: capitalize;
                width: fit-content;
                padding: var(--space-2) var(--space-3);
                min-height: 1rem;
                background-color: transparent;
                border: var(--border-inverted);
                border-radius: 0.25rem;
                cursor: pointer;

                option {
                    text-align: center;
                }
            }
        }

        .style-switch:hover {
            background-color: var(--color-neutral-0);
            border-radius: 0.25rem;

            select {
                color: var(--solar, var(--text-color-inverse));
            }
        }

        .style-switch:focus-visible {
            outline: 2px solid var(--color-neutral-900);
            outline-offset: 2px;
        }
    }
}