/* Import variables from _variables.scss */
@use "variables";
@use "header";
@use "footer";

/* --- Mulish Regular --- */
@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 200 900;
    font-style: normal;
    font-display: swap;
}

/* --- Mulish Italic --- */
@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-Italic-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 200 900;
    font-style: italic;
    font-display: swap;
}

// Site-wide Defaults
body {
    position: relative;

    // Font Size & Bg Colors
    font-family: 'Mulish', Verdana, sans-serif;
    font-size: 16px;
    background-color: var(--color-neutral-0);

    // Base Screen Size
    display: flex;
    flex-direction: column;
    min-width: 402px; /* For 16/17pro */
}

// Font Properties
h1, h2, h3, h4, h5 {
    font-weight: var(--text-weight-semibold);
    line-height: var(--text-line-height-heading);
    color: var(--color-neutral-900);
}

h1 {
    font-size: var(--text-size-h1);
}

h2 {
    font-size: var(--text-size-h2);
}

h3 {
    font-size: var(--text-size-h3);
}

h4 {
    font-size: var(--text-size-h4);
}

h5 {
    font-size: var(--text-size-h5);
}

p {
    font-size: var(--text-size-body);
    font-weight: var(--text-weight-regular);
    line-height: var(--text-line-height-regular);
    color: var(--color-neutral-900);
}

.subtitle {
    font-size: var(--text-size-subtitle);
}

// Components
.nav-btn {
    display: block;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

    font-size: var(--text-size-h4);
    color: var(--color-neutral-0);
    width: max-content;
    gap: 0.5rem;
    padding: 0.5rem 0.8rem;
    min-height: 1rem;
}

.social-btn {
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
    text-align: center;
    text-decoration: none;

    font-size: var(--text-size-h4);
    color: var(--color-neutral-0);
    width: max-content;
    gap: var(--space-2);
    padding: var(--space-stack-md), 0;
    min-height: 1rem;
}

.tab-btn {
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
    text-align: center;

    width: max-content;
    gap: 0.5rem;
    padding: 0.2rem 0.8rem;

    border: var(--border-inverted);
    border-radius: 2rem;
    background-color: transparent;
}

.tab-btn > p{
    color: var(--color-neutral-0);
}

.tab-btn.active {
    background-color: var(--color-neutral-0);

    > p {
        color: var(--solar, var(--text-color-inverse));
    }
}

.tab-btn:hover, .tab-btn:focus, .tab-btn:active {
    background-color: var(--color-neutral-0);

    > p {
        color: var(--solar, var(--text-color-inverse));
    }
}

.link-btn {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.2rem 0.2rem;
    width: max-content;
    text-decoration: none;
}

.scroll-btn {
    @extend .link-btn;
    background-color: transparent;
    border: none;
}

.divider-line {
    width: 100%;
    border-top: var(--divider-line);
}

.divider-line.divider-color-inverted {
    border-top: var(--divider-line-inverted);
}

@keyframes blink {
    0%,
    49% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }
}

// Homepage Background
.background-home {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    z-index: -999;
    width: 100vw;
    height: 100vh;
    filter: blur(200px);

    .bg-element-1, .bg-element-2 {
        width: 40vw;
        height: 40vw;
        position: absolute;
        border-radius: 100%;
    }

    .bg-element-1 {
        inset: 0 auto auto 0;
        background-color: var(--flare);
    }

    .bg-element-2 {
        inset: auto 0 0 auto;
        background-color: var(--solar);
    }
}

// Hero Section
.hero {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(252, 252, 252, 25%), rgba(252, 252, 252, 25%)), var(--solar-gradient);
    padding: var(--space-card-padding);
    box-sizing: border-box;
    min-height: 100vh;
    justify-content: flex-end;

    h1, h2, h3, h4, h5, p {
        color: var(--color-neutral-0);
    }

    .hero-bg {
        display: flex;
        flex-direction: column;
        gap: var(--space-stack-md);
        padding-bottom: var(--space-8);
        align-items: flex-start;

        #typed-strings {
            display: none;
        }

        #typed {
            display: inline;
        }

        #typed::after {
            content: ".";
            display: inline-block;
            margin-left: 0.06em;
            animation: blink 1s step-end infinite;
        }

        .intro-tabs {
            display: flex;
            flex-direction: column;
            gap: var(--space-stack-lg);

            .tab-viewport {
                width: 50%;
                max-height: fit-content;
                overflow: hidden;

                .tab-item {
                    display: none;
                }

                .tab-item.active{
                    display: block;
                }

                .intro-item {
                font-weight: var(--text-weight-regular);
                }
            }

            .tab-controls {
                display: flex;
                flex-wrap: wrap;
                gap: var(--space-stack-sm);
            }
        }
    }

    .scroll-to-content {
        display: flex;
        flex-direction: row;
        gap: var(--space-stack-md);
        align-items: center;

        h5 {
            display: flex;
            align-items: center;
            gap: var(--space-stack-sm);
            font-weight: var(--text-weight-regular);
            width: auto;
            white-space: nowrap;

            .material-symbols-outlined {
                font-size: var(--text-size-h4);
            }
        }
    }
}

// Case Studies
.case-studies {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    box-sizing: border-box;
    min-height: 100vh;
    padding: var(--space-card-padding);

    .intro-text-contain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10rem 0;

        h2 {
            font-size: 11rem;
            font-weight: var(--text-weight-thin);
            line-height: 14rem;
        }
    }

    .cards-contain {
        display: flex;
        flex-direction: column;
        gap: 10rem;
        max-width: 100%;

        .card {
            display: flex;
            flex-direction: column;
            gap: var(--space-12);

            .lightbox {
                padding: var(--space-12);
                width: fit-content;
                max-width: 100%;
                border-radius: 1rem;

                img {
                    max-width: 100%;
                    border-radius: 0.5rem;
                    box-shadow: 1px 1px 10px 0px rgba(27, 48, 80, 0.15);
                }
            }

            .overview {
                display: flex;
                flex-direction: column;
                gap: var(--space-stack-sm);

                h4 {
                    font-weight: var(--text-weight-regular);
                }
            }
        }

        :nth-child(1) > .lightbox {
            background: linear-gradient(rgba(252, 252, 252, 0.65), rgba(252, 252, 252, 0.65)), var(--drill-gradient);
        }

        :nth-child(2) > .lightbox {
            background: linear-gradient(rgba(252, 252, 252, 0.4), rgba(252, 252, 252, 0.4)), var(--fileworks-gradient);
        }

        :nth-child(3) > .lightbox {
            background: linear-gradient(rgba(252, 252, 252, 0.65), rgba(252, 252, 252, 0.65)), var(--bfhr-gradient);
        }

        :nth-child(4) > .lightbox {
            padding: 0;
            background-color: var(--color-neutral-0);
        }
    }

    .scroll-to-top {
        display: flex;
        flex-direction: row;
        gap: var(--space-stack-md);
        align-items: center;
        padding: 10rem 0 2rem 0;

        h5 {
            display: flex;
            align-items: center;
            gap: var(--space-stack-sm);
            font-weight: var(--text-weight-regular);
            width: auto;
            white-space: nowrap;

            .material-symbols-outlined {
                font-size: var(--text-size-h4);
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .case-studies .cards-contain .card {
        display: grid;
        grid-template-columns: 0.75fr 0.5fr;
        align-items: center;
    }
}

// @media screen only (min-width: 1024px) {

// }