:root {
    --color-neutral-0: #fcfcfc;
    --color-neutral-400: #909093;
    --color-neutral-900: #1f1f1f;

    // Text Sizes - Base size in _main.scss
    --text-size-body: 1rem;
    --text-size-subtitle: 1.25rem;
    --text-size-h1: 3rem;
    --text-size-h2: 2.5rem;
    --text-size-h3: 2rem;
    --text-size-h4: 1.5rem;
    --text-size-h5: 1.25rem;

    // Text weights
    --text-weight-thin: 300;
    --text-weight-regular: 400;
    --text-weight-semibold: 600;
    --text-weight-bold: 800;

    // Text line heights
    --text-line-height-regular: 1.8;
    --text-line-height-heading: 1.4;

    // Text colors
    --text-color-default: var(--color-neutral-0);
    --text-color-inverse: var(--color-neutral-900);
    --text-color-secondary: var(--color-neutral-400);

    //Border
    --border-default: 1px solid var(--color-neutral-900);
    --border-inverted: 1px solid var(--color-neutral-0);

    //Section Divider
    --divider-line: 2px solid var(--color-neutral-0);
    --divider-line-inverted: 2px solid var(--color-neutral-900);

    //Spacing
    --space-0: 0;
    --space-1: 0.25rem;  /* 4px  */
    --space-2: 0.5rem;   /* 8px  */
    --space-3: 0.75rem;  /* 12px */
    --space-4: 1rem;     /* 16px */
    --space-5: 1.25rem;  /* 20px */
    --space-6: 1.5rem;   /* 24px */
    --space-8: 2rem;     /* 32px */
    --space-10: 2.5rem;  /* 40px */
    --space-12: 3rem;    /* 48px */
    --space-16: 4rem;    /* 64px */
    --space-20: 5rem;    /* 80px */
    --space-24: 6rem;    /* 96px */

    // Senmatic Spacing
    --space-inline-page: var(--space-8);
    --space-section-y: var(--space-16);
    --space-card-padding: var(--space-16);
    --space-stack-sm: var(--space-2);
    --space-stack-md: var(--space-4);
    --space-stack-lg: var(--space-6);
    --space-gap-inline: var(--space-3);

    //Project-specific Colors Below
    --drill-gradient: linear-gradient(150deg, #2875d0 0%, #ef6c6d 100%);
    --fileworks-gradient: linear-gradient(150deg, #e7f2ff 0%, #e7f2ff 100%);
    --bfhr-gradient: linear-gradient(150deg, #508fd9 0%, #403294 100%);
    // --godeals-gradient: linear-gradient(150deg, #19D2BC 0%, #BAF1EB 100%);
}

html[data-theme="minimal-solaris"] {
    // Primary Palette
    --solar: #ff5b29;
    --flare: #ff9721;

    //Gradient
    --solar-gradient: linear-gradient(135deg, var(--flare) 0%, var(--solar) 65%);
}