@use "variables";

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--space-stack-md);
    padding: var(--space-card-padding);
    background: linear-gradient(rgba(252, 252, 252, 20%), rgba(252, 252, 252, 20%)), var(--solar-gradient);

    h2 {
        display: flex;
        align-items: center;
        gap: var(--space-gap-inline);
    }

    h2, p {
        color: var(--color-neutral-0);
    }

    .reachout-contain {
        display: flex;
        flex-direction: column;
        gap: var(--space-gap-inline);

        h2 > span:last-of-type {
            display: none;
        }

        .social-links-contain {
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            margin: 0;
            padding: 0;
            gap: var(--space-stack-lg);
        }
    }
}

@media screen and (min-width: 768px) {
    footer .reachout-contain {
        display: grid;
        grid-template-columns: auto auto;

        h2 > span:last-of-type {
            display: inline-block;
        }

        h2 > span:first-of-type {
            display: none;
        }
    }

    footer .social-links-contain {
        justify-content: flex-end;
        align-items: center;
    }
}