@use "variables";

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--space-stack-md);
    padding: var(--space-card-padding);
    background: var(--solar-gradient);

    h2 {
        display: flex;
        align-items: center;
        gap: var(--space-gap-inline);
    }

    h2, p {
        color: var(--color-neutral-0);
    }

    .reachout-contain {
        display: flex;
        flex-direction: column;
        gap: var(--space-gap-inline);

        .social-links-contain {
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            margin: 0;
            padding: 0;
            gap: var(--space-stack-lg);
        }
    }
}