/* 1. Define the font face */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  /* Adjust the path to where you put your .woff2 file */
  src: url('../fonts/material-symbols.woff2') format('woff2');
}

/* 2. Create the helper class */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: inherit;  /* Inherit whatever heading/paragraph size, used to be default 24px */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers */
  -webkit-font-smoothing: antialiased;
  /* Support for Firefox */
  -moz-osx-font-smoothing: grayscale;

  /* These enable the variable features (Fill, Weight, Grade, Optical Size) */
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}